:root {
	--accent-color-vert: #74ae5b;
	--accent-color-violet: #8b49b4;
}

/*=========== GÉNÉRAL ===========*/
html {
	scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
	font-family: 'Open Sans', sans-serif;
}

a {
  color: #6c6c6c;
}

button {
	cursor: pointer;
}

button:not(.boutonCategorie) {
	background-color: none;
	font-size: 1.05em;
	line-height: 1;
	margin: 0.2em;
	padding: 0.7em;
	border-radius: 10px;
	border: solid 2px var(--accent-color-violet);
	color: var(--accent-color-violet);
	font-weight: 600;
	transition: 0.25s;
}

button:not(.boutonCategorie):hover {
	box-shadow: inset 6.5em 0 0 0 var(--accent-color-violet);
	color: white;
	background: var(--accent-color-violet);
	border-color: var(--accent-color-violet);
	/* transform: translateY(-0.25em); */
}

/*=========== HEADER ===========*/

body > header {
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 5px 0px #6c6c6c;
  margin: 5px 0px;
}

nav {
  flex-grow: 1;
}

nav ul {
	margin: 0;
	padding: 0;
	text-align: right;
	list-style-type: none;
  margin-right: 10px;
}

nav ul li {
	display: inline-block;
	position: relative;
	margin: 5px;
}

nav ul li:first-child {
	flex-grow: 1;
	margin-left: 20px;
}

nav ul form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

nav ul li input[type=search] {
  width: 100%;
}

/*=========== CONTENU ===========*/

body section{
  width: 95%;
  margin: auto;
}

section.section_annonces > div {
  display: flex;
  flex-wrap: wrap;
	margin: 0px 20%;
}

article.annonce {
  position: relative;
  border: solid 2px var(--accent-color-vert);
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
  padding-bottom: 100px;
  flex: 1 0 40%;
}

article.annonce > header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

article.annonce > header > img {
  width: 50px;
  margin-right: 20px;
}

article.annonce h2 {
  text-decoration: underline;
}

article.annonce > form button:first-child {
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: 1.5em;
  transform: translate(-50%, -50%);
}

article.annonce > form button:last-child {
  position: absolute;
  bottom: 0;
  font-size: 1.1em;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--accent-color-vert);
  border: solid 2px var(--accent-color-vert);
  color: white;
	transition: 0.25s;
	font-weight: 600;
}

article.annonce > form button:last-child:hover {
	font-size: 1.2em;
}

article.annonce > p.date {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--accent-color-vert);
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 3px;
	margin: 0;
	color: white;
}

section.section_annonces > form {
	margin: 20px 0px;
	position: relative;
	height: 1em;
}

section.section_annonces > form > button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  display: flex;
  flex-direction: row-reverse; 
  align-items: center;
}

/*=========== FOOTER ===========*/

body > footer {
  padding: 0px 15px;
  background-color: #DDDDDD;
}

body > footer > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body > footer > header p {
  margin: 5px 0px;
  flex: 1 0 9.375em;
}

body > footer > section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

body > footer > section > section {
  flex: 1 0 200px;
}

body > footer > section > section:first-child {
  display: flex;
  flex-direction: column;
}

body > footer > section > section:last-child {
  text-align: right;
}
