section {
  display: flex;
  flex-direction: column;
}

div.mainAnnonce {
  display: flex;
  flex-direction: column;

  margin-bottom: 2em;
}

div.topMessage {
  display: flex;
  flex-direction: row;
}

div.topMessage > h2{
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}

div.titre {
  display: flex;
  flex-direction: row;
	align-items: flex-end;
  justify-content: space-between;

  width: 100%;

  border-bottom: 3px dashed #212121;
}

div.titre > h2 {
  font-size: 2em;

  margin: 0em;
}

img.certif {
  width: 20px;
}

div.optionEtranger {

}


div.optionAuteur {

}
