:root {
	--accent-color-vert: #74ae5b;
	--accent-color-violet: #8b49b4;
}

/*=========== GÉNÉRAL ===========*/
html {
	scroll-behavior: smooth;
}

h2 {
	font-size: 1.2em;
}

body {
  font-family: sans-serif;
  margin: 0;
	font-family: 'Open Sans', sans-serif;
}

a {
  color: #6c6c6c;
}

button {
	cursor: pointer;
}

button:not(.boutonCategorie) {
	background-color: none;
	font-size: 1.05em;
	line-height: 1;
	margin: 0.2em;
	padding: 0.7em;
	border-radius: 10px;
	border: solid 2px var(--accent-color-violet);
	color: var(--accent-color-violet);
	font-weight: 600;
	transition: 0.25s;
}

button:not(.boutonCategorie):hover {
	box-shadow: inset 6.5em 0 0 0 var(--accent-color-violet);
	color: white;
	background: var(--accent-color-violet);
	border-color: var(--accent-color-violet);
	/* transform: translateY(-0.25em); */
}

button.actionCritique {
	color: #e53935;
	border: solid 2px #e53935CC;
}

button.actionCritique:hover {
	box-shadow: inset 6.5em 0 0 0 #e53935;
	color: white;
	background: #e53935;
	border-color: #e53935;
	/* transform: translateY(-0.25em); */
}

/*=========== HEADER ===========*/

body > header > div {
  display: flex;
  align-items: center;
}

body > header {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 5px 5px 0px #6c6c6c;
  margin: 5px 0px;
}

nav {
  flex-grow: 1;
}

header > div > nav ul {
	margin: 0;
	padding: 0;
	text-align: right;
	list-style-type: none;
  margin-right: 10px;
}

header > div > nav ul li {
	display: inline-block;
	position: relative;
	margin: 5px;
}

header > div > nav ul li:first-child {
	flex-grow: 1;
	margin-left: 20px;
}

header > div > nav ul form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

header > nav ul li {
  width: 100%;
}

nav.ariane {
	background-color: #DDDDDD;
}

nav.ariane ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav.ariane ul li {
	padding-left: 16px;
}

nav.ariane ul li:before {
  content: ">";
  padding-right: 8px;
}

.error {
	background-color: #e5393588;
	border: solid 2px #e53935CC;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

.error ul li p {
	margin: 0;
}

.error > p {
	font-weight: bold;
	margin-top: 0;
}

.message {
	background-color: #4CAF5088;
	border: solid 2px #4CAF50CC;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

body section{
  width: 95%;
  margin: auto;
}

body > section {
	min-height: 72vh;
}

/*=========== FOOTER ===========*/

body > footer {
  padding: 0px 15px;
  background-color: #DDDDDD;
}

body > footer > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body > footer > header p {
  margin: 5px 0px;
  flex: 1 0 9.375em;
}

body > footer > section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

body > footer > section > section {
  flex: 1 0 200px;
}

body > footer > section > section:first-child {
  display: flex;
  flex-direction: column;
}

body > footer > section > section:last-child {
  text-align: right;
}
